
#box {
	width: 100%;
	height: 2.5rem;
	background: #F0AD4E;
	position: fixed;
	top: 2rem;
	left: 0rem;
}

#box>input {
	display: block;
	height: 1.5rem;
	width: 60%;
	margin: 0.5rem auto;
}
.boxg {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 4.5rem;
}
.top {
	width: 100%;
	height: 2rem;	
	float: left;
	border: 1px solid #000000;
	margin-bottom: 0.5rem;	
}
.top>li:nth-child(1){
	width: 70%;
	height: 1.9rem;
	float: left;
	text-align: center;
	line-height: 2rem;
	border-right: 1px solid #000000;
}
.top>li:nth-child(2){
	width: 30%;
	float: left;
	text-align: center;
	line-height: 2rem;
}
.bottom {
	width: 100%;
	height: auto;
	float: left;
	border: 1px solid #000000;
	margin-bottom: 0.5rem;
}
.bottom>li:nth-child(1){
	width: 70%;
	float: left;
	text-align: center;
	line-height: 2rem;
	border-right: 1px solid #000000;
}
.bottom>li:nth-child(2){
	width: 30%;
	float: left;
	line-height: 2rem;
}
.bottom>li:nth-child(2)>button {
	display: block;
	width: 2rem;
	height: 1rem;
	font-size: 0.6rem;
	margin: 0.5rem auto;
	line-height: 1rem;
	outline: none;
}
/*.L_spxx {
	width: 100%;
	height: 100%;
	float: left;
	margin-bottom: 2rem;
	margin-top: 4.5rem;
}

.L_left {
	float: left;
	width: 4.5rem;
	height: auto;
}

.L_left ul li {
	padding-left: 0.5rem;
	width: 4rem;
	height: 2.7rem;
	color: #101010;
	line-height: 2rem;
	text-align: center;
}

.L_r {
	float: left;
	width: 11rem;
	overflow: hidden;
}

.L_right {
	width: 12rem;
	height: auto;
	float: left;
	margin: 0;
	position: relative;
	overflow: hidden;
}

.L_right ul {
	width: 3.67rem;
	float: left;
	height: auto;
	overflow: hidden;
}

.L_right ul li {
	width: 3.67rem;
	height: 2.7rem;
	line-height: 2rem;
	color: #31708F;
	text-align: center;
	box-sizing: border-box;
}

.L_right ul li:nth-child(8) {
	height: 1.5rem;
}

.L_right ul li:nth-child(9) {
	height: 1.5rem;
}

.fenye input {
	float: left;
}*/

#button {
	width: 24%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	background: url(../images/ljc_1.png);
	outline: none;
}

.dibu>input {
	width: 24%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	background: url(../images/ljc_1.png);
	outline: none;
}

#shangyiye {
	width: 24%;
}

#xiayiye {
	width: 24%;
}
