
.button {
	width: 33%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	background: url(../images/ljc_1.png);
	outline: none;
}

.dibu>input {
	width: 19%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	background: url(../images/ljc_1.png);
	outline: none;
}
