<div class="col-sm-12" ng-controller="dengru">	
	<div class="Bugcent1">
		<img src="images/logo.jpg"/>		
	</div>
	<ng-form accept-charset="utf-8" name="someForm">
		<div class="form-group has-success">
			<input type="text" name="username" class="form-control" id="inputSuccess1" ng-model="updata.username" placeholder="用户名">
		</div>
		<div class="form-group has-success">
			<input type="password" class="form-control" id="inputSuccess1" ng-model="updata.password" placeholder="用户密码">
		</div>
		<div class="has-success">
			<div class="checkbox">
				<label>
		      		<input type="checkbox" id="checkboxSuccess" value="option1" ng-checked="check" ng-model="check">
		     		记住账号！
		    	</label>
			</div>
		</div>
		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="login()">GO</button>
	</ng-form>
	<div class="kuang" ng-if="isShow">
		<div>
			<p>{{go}}</p>
			<button ng-click="queding()">确定</button>
		</div>
	</div>
</div>