<div ng-controller="dingdan">
	<header>
		<left>
			订货信息
		</left>
		<right>
			<p ng-click="dj()">＋</p>
			<div ng-show="show">
				<li ng-click="ssy()">首页</li>
				<li ng-click="rrk()">入库信息</li>
				<li ng-click="ttc()">退出</li>
			</div>
		</right>
	</header>
	<div class="c_box" id="box">
		<input type="text" placeholder="请输入要搜索的商品" ng-model="kw" />
	</div>	
	<div class="boxg">
		<ul class="top left">
			<li>商品名称</li>	
			<li>操作</li>
		</ul>
		<ul class="bottom left" ng-repeat="a in bcd | filter:kw" id="qqq">
			<li>{{a.mingcheng}}</li>
			<li><button ng-click="cz(a.id)" ui-sref="xiangqing">操作</button></li>
		</ul>
	</div>
	<div id="content">
		<div id="example">
			<div id="preview"></div>
		</div>
	</div>
</div>