<div ng-controller="zhuye2Ctrl" class="sss">
	<header>
		<left>
			望客隆超市
		</left>
		<right>
			<p ng-click="dj()">＋</p>
			<div ng-show="show">
				<li>首页</li>
				<li ng-click="dh()" ui-sref="dingdan2">订货信息</li>
			</div>
		</right>
	</header>	
	<active>
		<p>在线公告</p>
		<ul>
			<li ng-repeat="shop in shops">最新添加商品：{{shop.mingcheng}}</li>
		</ul>
	</active>
	
	<div id="content">
		<div id="example">
			<div id="preview"></div>
		</div>
	</div>
	<footer>
		<a href="javascript:;" ng-click="tuichu()">退出</a>
	</footer>
</div>